.faqsWrapper{
    margin:20px ;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.accordionCon{
    max-width: 1135px;
}
.faqsText{
    color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}
.accordionhead{
    border: .5px solid white !important;
    background-color:var( --color-black) !important;
    color: var(--color-white) !important;
    border-radius: 5px !important;
}
.accordioncard{
    border: 1px solid white !important;
    border-radius: 5px !important;

}
.accordionbody{
    
    background-color:var( --color-white);
    color: var(--color-black);
    border-radius: 5px !important;
}